.App {
  font-family: Arial, sans-serif;
  margin: 0px 300px 300px 300px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

h1 {
  font-size: 24px;
}

.add-task-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.task-input {
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 300px;
}

.add-task-button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.add-task-button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.delete-button {
  margin-left: auto;
  padding: 5px 10px;
  color: red;
  border: none;
  background-color: #f8d7da;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #f5c6cb;
}

.task-completed > span {
  text-decoration: line-through;
}
